@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


* {
  font-family: 'Nunito', sans-serif;

}

:root{
  --color-primario:#007BFF;
  --color-secundario:#0026ff;
  }

.hero-section, .about-section, .features-section, .team-section, .hero-section1{

  opacity: 0;
  transform: translateY(80px);  /* Inicia desde abajo */
  transition: opacity 0.6s ease-out, transform 1.0s ease-out;
}

/* Cuando la sección está visible */
.hero-section.visible, .about-section.visible, .features-section.visible, .team-section.visible ,.hero-section1.visible{
  opacity: 1;
  transform: translateY(0);  /* Vuelve a su posición original */
}

/* Cuando la sección ya no está en la vista (se ocultará) */
.hero-section.hidden, .about-section.hidden, .features-section.hidden, .team-section.hidden, .hero-section1.hidden {
  opacity: 0;
  transform: translateY(-80px);  /* Se mueve hacia arriba y se desvanece */
  transition: opacity 0.6s ease-out, transform 1.0s ease-out;
}



.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;

  border-radius: 8px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--color-primario);
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #007BFF;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

  ul li {
    margin-bottom: 10px;
  }

a {
  color: #007BFF;
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

.hero-section, .about-section, .resources, .features-section {
  margin-bottom: 150px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

  .faq-question:hover {
    background-color: #0056b3;
  }

.faq-answer {
  display: none;
  padding: 10px;
  border-top: 1px solid #ddd;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #333;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 15px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

  button:hover {
    background-color: #0056b3;
  }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--color-primario);
}
