@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*{

    font-family: 'Nunito', sans-serif;

}
:root{
  --color-primario:#007BFF;
  --color-secundario:#0026ff;
  }


                        
                            

  .btn {
      cursor: pointer; 
      border: 0px solid rgb(187, 204, 0); 
       font-size: 16px; color: rgb(255, 255, 255); 
       padding: 5px 5px; 
       transition: 983ms; 
       width: 400px; 
       box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px; 
       border-radius: 16px; 
       background: rgba(0, 102, 204, 0.757); 
       font-weight: 500; 
       display: flex; 
       justify-content: center; 
       align-items: center; 
       --hover-width: 550px; 
       --hover-bgc: #000000; 
       --hover-borderSize: 0px;
  }


  .btn:hover{
      text-decoration: none;
color: rgb(255, 255, 255);
width: 550px;
background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
border-color: rgb(204, 0, 105);
border-width: 0px;
border-style: solid;
  }






.hero-section, .about-section, .features-section, .team-section, .hero-section1{
  opacity: 0;
  transform: translateY(80px);  /* Inicia desde abajo */
  transition: opacity 0.6s ease-out, transform 1.0s ease-out;
}

/* Cuando la sección está visible */
.hero-section.visible, .about-section.visible, .features-section.visible, .team-section.visible ,.hero-section1.visible{
  opacity: 1;
  transform: translateY(0);  /* Vuelve a su posición original */
}

/* Cuando la sección ya no está en la vista (se ocultará) */
.hero-section.hidden, .about-section.hidden, .features-section.hidden, .team-section.hidden, .hero-section1.hidden {
  opacity: 0;
  transform: translateY(-80px);  /* Se mueve hacia arriba y se desvanece */
  transition: opacity 0.6s ease-out, transform 1.0s ease-out;
}
.hero-section {
  margin-bottom:300px;
  text-align: center;
padding-top: 100px;
  border-radius: 8px;
  max-width: 900px;
  margin: 0 auto ;
}

  .download-section h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
  }

  .download-section p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
  }

.download-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}

.download-buttons a{
  text-decoration: none;
}

.imgwindows {
  width:50px;
  height:50px;
}



.imgwindows {
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 40px;
  justify-content: flex-start;
}

.about-section, .installation-guide, .screenshots, .features-section, .support {
  margin-bottom:30px;
  text-align: left;

  padding: 20px;
  border-radius: 8px;
}

  .about-section h3, .installation-guide h3, .screenshots h3, .features-section h3, .support h3 {
    font-size: 22px;
    color: var(--color-primario);
    margin-bottom: 15px;
  }

  .about-section ul, .installation-guide ol, .support ul {
    padding-left: 20px;
  }

  .about-section li, .installation-guide li, .support li {
    font-size: 16px;
    color: #ffffff;
  }

.screenshot-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

  .screenshot-gallery img {
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

    .screenshot-gallery img:hover {
      transform: scale(1.05);
    }

.features-section details {
  margin-bottom: 10px;
}

.features-section summary {
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.features-section p {
  font-size: 16px;
  color: #7c7c7c;
  margin: 5px 0;
}
