@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}
                  
:root{
  --color-primario:#007BFF;
  --color-secundario:#0026ff;
  }

.hero-section, .about-section, .features-section, .team-section, .hero-section1{

  opacity: 0;
  transform: translateY(80px);  /* Inicia desde abajo */
  transition: opacity 0.6s ease-out, transform 1.0s ease-out;
}

/* Cuando la sección está visible */
.hero-section.visible, .about-section.visible, .features-section.visible, .team-section.visible ,.hero-section1.visible{
  opacity: 1;
  transform: translateY(0);  /* Vuelve a su posición original */
}

/* Cuando la sección ya no está en la vista (se ocultará) */
.hero-section.hidden, .about-section.hidden, .features-section.hidden, .team-section.hidden, .hero-section1.hidden {
  opacity: 0;
  transform: translateY(-80px);  /* Se mueve hacia arriba y se desvanece */
  transition: opacity 0.6s ease-out, transform 1.0s ease-out;
}

.info-container {
  padding: 40px;

  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
  justify-self: center;
  justify-content: center;
}
.info-container-iframe{
  display: flex;
  justify-content: center;
  justify-self: center;
}
/* Encabezado */
.hero-section {
  text-align: center;
  margin-bottom: 250px;
}

  .hero-section h1 {
    color: var(--color-primario);
    font-size: 2em;
    margin-bottom: 10px;
  }

  .hero-section p {
    color: #c2c2c2;
    font-size: 1.1em;
  }

/* Secciones */
.about-section {
  margin-bottom: 250px;
}

.about-section h2 {
    color: var(--color-primario);
    font-size: 1.5em;
    margin-bottom: 10px;
    border-bottom: 2px solid #d1d1d1;
    padding-bottom: 5px;
  }

  .about-section p {
    color: #ffffff;
    font-size: 1.1em;
    line-height: 1.6;
  }

  .about-section ul,
  .about-section ol {
    padding-left: 20px;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
  }

  .about-section ul li,
  .about-section ol li {
      margin-bottom: 10px;
    }

/* Estilo para Enlaces */
.info-footer p {
  text-align: center;
  font-size: 1em;
  color: #ffffff;
}

.info-footer a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

  .info-footer a:hover {
    text-decoration: underline;
  }

/* Efecto de transición para secciones */
.info-section h2 {
  transition: color 0.3s, border-color 0.3s;
}

  .info-section h2:hover {
    color: #007bff;
    border-color: #007bff;
  }


  @media (max-width: 800px) {

iframe{
  width: 250px;
  height: 200px;
}
  } 