<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Header</title>
    <link href="/app/encabezado/encabezado.component.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <section class="header">
        <div class="announcement-bar">
          <!-- <marquee>
            <p>Esta es una pagina creada por Vivas Franco para un proyecto grupal ,pulsa "Leer más" para más información de cómo fue creado <a href="informacion">Leer más.</a></p>
          </marquee> -->
        </div>
        <div class="navigation-bar">
          
          <a href="inicio"><div class="company-col">
                <!-- Aquí puedes agregar el logo si lo necesitas -->
            </div></a>

            <div class="link-col">
              
              <ul>
                
                <li><a href="inicio">Inicio</a></li>
                <li><a href="informacion/">Como Funciona</a></li>
                <li><a href="support/">Soporte</a></li>
                <li><a href="about/">Acerca De</a></li>
                <li><a href="programa"><button class="btn"  id="customBtn">Descargar<img src="https://www.htmlcssbuttongenerator.com/iconExample-cube-filled.svg" id="newIdIcon" style="width: 27px; margin-left: 5px; color:white;"></button></a></li>
            
              </ul>
              

            </div>

            <div class="link-col-mobile">
                <div class="menu-button" id="menuButton">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Mobile Overlay -->
    <section class="mobile-overlay" id="mobileOverlay">
        <div class="mobile-menu" id="mobileMenu">
            <div class="close-button" id="closeButton"><p>Cerrar</p></div>
            <ul>
              <li><a href="inicio">Inicio</a></li>
              <li><a href="informacion">Como Funciona</a></li>
              <li><a href="support">Soporte</a></li>
              <li><a href="about">Acerca De</a></li>
              <li><a class="cta-button" href="programa">Descargar</a></li>
            </ul>
        </div>
    </section>

    <script src="assets/js/script.encabezado.js"></script>
</body>
</html>
